
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Cart</h2>



<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category Name</th>
        <th>Quantity</th>
    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>@data.ID</td>
            <td>@data.Name</td>
            <td>@data.Price</td>
            <td>@data.Category.Name</td>
            <td>@data.Quantity</td>

          

        </tr>

        
    }

</table>
<a href="/Customer/CheckOut" class="btn btn-dark">CheckOut</a>

